doctype html
html(lang="es") 
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0" )
		link(rel="shortcut icon",href="favicon.ico")
	body
		header
			div.logo MI BLOG
			article
				h1 Articulo de ejemplo
				p Contenido del articulo. Parrafo 1. 
				p Contenido del articulo. Parrafo 2.
			aside
				div.block
					h3 Acerca de
					p Texto sobre mi
				div.block
					h3 Mis intereses
					ul
						li Literatura
						li Tecnologia
						li Futbol
			footer
				p Copyright
